/* defining global css variables */
:root{
    --primary-heading-text: #094C40;
    --color-white: white;
    --font-size-large: 120;
    --font-size-small: 40;
    --font-weight-bold: 75;

}
/* reset the css */
*{
    margin: 0;
    padding: 0;
}




.image{
    max-width:  784px;
    max-height: 659px;
}

.image img{
    height: 100%;
    width: 100%;
}
